<style>
  #orcamentos_disponiveis {
    border:1px black solid;
  }

  #orcamentos_disponiveis th {
    padding: 10px;
  }

  #orcamentos_disponiveis td {
    border: 1px black solid;
    padding: 5px;
  }
</style>
<h1>Orcamentos Disponiveis</h1>
<table id="orcamentos_disponiveis">
  <tr>
    <th>Serviço</th>
    <th>Cliente</th>
    <th>Descrição</th>
    <th>Funções</th>
  </tr>
  <% @pessoa.orcamentos_disponiveis.each do |orcamento| %>
    <tr>
      <td><%= Servico.find(orcamento.servico_id).to_s %>
      <td><%= orcamento.solicitante.to_s %></td>
      <td><%= orcamento.to_s %></td>
      <td style="text-align: center;">
        <%= link_to image_tag('detalhes.gif', :title => 'Detalhes'), controller: "orcamentos", action: "show", id: orcamento.id %>
        <%= link_to image_tag('add.gif', :title => "Fazer Proposta"), controller: "orcamento_prestadors", action: "new", orcamento_id: orcamento.id %>
      </td>
    </tr>
  <% end %>
</table>
